@model IEnumerable<DataService.Entities.BookVisit>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.First().ABook.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.First().ABook.Title)
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

    @foreach (var item in Model.Reverse())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }

</table>
@*<div>
    @section Scripts
</div>*@
<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.First().ABook.AAuthor.Id })
</div>

