@model DataService.Entities.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Book</h4>
    <hr />
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookVisits.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookVisits.First().Quantity)
            </th>
        </tr>

        @foreach (var item in Model.BookVisits.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.AAuthor.Id })
</p>
@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBackgroundColor);

        function drawBackgroundColor() {
            var dataJson = '@Html.Raw(Model.GoogleChartData)'
            var data = new google.visualization.DataTable(dataJson);

            var options = {
                hAxis: {
                    title: 'Time'
                },
                vAxis: {
                    title: 'Popularity'
                },
                backgroundColor: '#f1f8e9'
            };

            var chartBlock = document.getElementById('MyChart');
            var chart = new google.visualization.LineChart(chartBlock);
            chart.draw(data, options);

        }
    </script>
}

